/* Block - Solution Header */
.solution-header-wrapper {
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 140px;
  background-color: var(--neutral-bone);
  left: 0;
  top: 0;
  transition: all .5s ease;
  z-index: 99999;
}

.solution-header {
  opacity: 0;
  max-width: var(--secton-max-container);
  height: 100%;
  margin: 0 auto;
}

.header-visible .solution-header-wrapper,
.header-visible .solution-header[data-block-status="loaded"] {
  opacity: 1;
}

.solution-header .solution-header__inner {
  position: relative;
}

.solution-header p {
  margin: 0;
}

.solution-header .icon {
  display: block;
  line-height: 0;
}

.solution-header .icon svg {
  width: auto;
  height: 38px;
}

.solution-header .solution-header__inner .solution-header__col-1 {
  margin: var(--spacer-element-07);
}

.solution-header .solution-header__inner .solution-header__col-2 {
  overflow-x: auto;
  height: 100%;
  margin: var(--spacer-element-07) 0 calc(var(--spacer-element-07) * -1) 0;
  border-top: 1px solid var(--neutral-sand);
}

.solution-header.navattic .solution-header__inner .solution-header__col-2 {
  border-color: transparent;
}

.solution-header .solution-header__inner .solution-header__col-3 {
  display: none;
}

.solution-header.navattic .solution-header__inner[aria-expanded='true'] .nav-hamburger-icon {
  height: 41px;
  width: 40px;
  background: url('../../icons/navattic-hamburger-close.svg') no-repeat;
}

.solution-header.navattic .solution-header__inner[aria-expanded='false'] .nav-hamburger-icon {
  height: 41px;
  width: 40px;
  background: url('../../icons/navattic-hamburger.svg') no-repeat;
}

.solution-header .solution-header__inner .solution-header__col-3 p:not(.button-container) {
  display: none;
  visibility: hidden;
}

.solution-header-wrapper .solution-header .gradient-left {
  position: absolute;
  left: 0;
  top: 65px;
  width: var(--spacer-element-09);
  height: 40px;
  background: linear-gradient(90deg, #FAF8F6 0%, #faf8f600 50%);
}

.solution-header-wrapper .solution-header.navattic .gradient-left {
  display: none;
}

.solution-header-wrapper.is-sticky .solution-header .gradient-left {
  height: 50px;
  top: 0;
  left: 88px;
  background: linear-gradient(90deg, #20201F 0%, #20201f00 50%);
}

.solution-header-wrapper .solution-header .gradient-right {
  position: absolute;
  right: 0;
  top: 65px;
  width: var(--spacer-element-09);
  height: 40px;
  background: linear-gradient(270deg, #FAF8F6 0%, #faf8f600 50%);
}

.solution-header-wrapper .solution-header.navattic .gradient-right {
  display: none;
}

.solution-header-wrapper.is-sticky .solution-header .gradient-right {
  height: 50px;
  top: 0;
  background: linear-gradient(270deg, #20201F 0%, #20201f00 50%);
}

.solution-header ul {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 100%;
  margin: 0;
}

.solution-header ul li {
  font-family: var(--sans-serif-font-medium);
  list-style: none;
  height: 100%;
  padding-left: var(--spacer-element-05);
}

.solution-header ul li:first-child {
  padding-left: var(--spacer-element-07);
}

.solution-header ul li:last-child {
  padding-right: var(--spacer-element-05);
}

.solution-header ul li a {
  display: flex;
  align-items: center;
  height: 100%;
  white-space: nowrap;
  color: var(--neutral-carbon);
  font-size: var(--font-size-16);
  font-weight: 500;
  text-decoration: none;
  padding: var(--spacer-element-05) 0;
  background-image: var(--gradient-left-right);
  background-size: 0 var(--spacer-element-02), auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all .2s ease-out;
}

.solution-header ul li a:hover,
.solution-header ul li a.active {
  background-size: 100% var(--spacer-element-02), auto;
  z-index: 6;
}

/* Sticky - Solution Header */
body.microsites.header-visible main {
  padding-top: 140px;
}

.solution-header-wrapper.is-sticky {
  background-color: var(--neutral-carbon);
  border-bottom: 1px solid var(--neutral-carbon);
  color: var(--neutral-white);
  padding: 0;
  height: var(--spacer-layout-05);
}

.solution-header.navattic .solution-header__inner {
  display: flex;
  justify-content: space-between;
  margin: 0 var(--spacer-element-07);
  align-items: center;
}

.solution-header-wrapper.is-sticky .solution-header__inner {
  display: flex;
  align-items: flex-end;
  height: 100%;
  transition: padding-bottom .5s ease;
}

.solution-header-wrapper.is-sticky .solution-header.navattic .solution-header__inner {
  align-items: center;
}

.solution-header-wrapper.is-sticky .solution-header .icon {
  display: block;
  width: 56px;
  height: var(--spacer-layout-03);
  border-right: 1px solid var(--neutral-grey-tint140);
}

.solution-header-wrapper.is-sticky .solution-header .icon svg {
  height: var(--spacer-layout-03);
}

.solution-header-wrapper.is-sticky .solution-header .solution-header__col-1 {
  margin: var(--spacer-element-05) var(--spacer-element-01) var(--spacer-element-05) var(--spacer-element-08);
}

.solution-header.navattic .solution-header__inner .solution-header__col-1 {
  margin: 0;
}

.solution-header-wrapper.is-sticky .solution-header.navattic .solution-header__inner .solution-header__col-1 {
  margin: 0;
}

.solution-header-wrapper.is-sticky .solution-header .solution-header__col-2 {
  border-color: transparent;
  margin: 0;
}

.solution-header-wrapper:has(.navattic), .solution-header-wrapper.is-sticky:has(.navattic) {
  width: 100%;
  max-width: unset;
  padding-bottom: var(--spacer-element-07) !important;
  padding-top: var(--spacer-element-07) !important;
  height: unset;
  background: var(--neutral-carbon);
  opacity: 1;
  border-bottom: 1px solid var(--neutral-grey-tint140);
}

.solution-header-wrapper .solution-header.navattic, .solution-header-wrapper.is-sticky .solution-header.navattic {
  opacity: 1;
}

.solution-header.navattic .solution-header__inner .solution-header__col-2, .solution-header-wrapper.is-sticky .solution-header.navattic .solution-header__inner .solution-header__col-2 {
  margin: unset;
}

.solution-header.navattic .solution-header__inner .solution-header__col-3 {
  display: none;
  position: unset;
}

.solution-header.navattic .solution-header__inner[aria-expanded='true'] .solution-header__col-3 {
  display: flex;
  gap: var(--gap-16);
  flex-direction: column;
  position: fixed;
  background: var(--neutral-carbon);
  top: 91px;
  width: 100vw;
  left: 0;
  align-items: center;
  padding: var(--spacer-element-07);
}

.solution-header-wrapper.is-sticky .solution-header.navattic .icon {
  width: unset;
  height: unset;
  clip-path: unset;
  border-right: 0;
}

.solution-header-wrapper .solution-header.navattic .icon svg, .solution-header-wrapper.is-sticky .solution-header.navattic .icon svg {
  height: var(--spacer-layout-036);
}

.solution-header.navattic .solution-header__inner .solution-header__col-3 .button.secondary {
  color: var(--neutral-white);
  border: 2px solid var(--neutral-white);
  background-image: none;
  white-space: nowrap;
}

.solution-header.navattic .solution-header__inner .solution-header__col-3 .button.secondary:hover {
  background-image: var(--gradient-to-right);
}

.solution-header-wrapper.is-sticky .solution-header.navattic .solution-header__inner .solution-header__col-3 .button.secondary {
  color: var(--neutral-white);
  border: 2px solid var(--neutral-white);
  background-image: none;
  white-space: nowrap;
}

.solution-header-wrapper.is-sticky .solution-header.navattic .solution-header__inner .solution-header__col-3 .button.secondary:hover {
  background-image: var(--gradient-to-right); 
}

.solution-header.navattic .solution-header__inner .solution-header__col-3 .button.primary {
  color: var(--neutral-white);
  border: 2px solid var(--primary-purple);
  background-image: var(--gradient-to-right);
  background-position: 0 0;
  background-size: 200% auto;
  transition: all .4s ease-in-out;
}

.solution-header.navattic .solution-header__inner .solution-header__col-3 .button.primary:hover {
  background-image: var(--gradient-to-right);
}

.solution-header-wrapper.is-sticky .solution-header.navattic .solution-header__inner .solution-header__col-3 .button.primary {
  color: var(--neutral-white);
  border: 2px solid var(--primary-purple);
  background-image: var(--gradient-to-right);
  background-position: 0 0;
  background-size: 200% auto;
  transition: all .4s ease-in-out;
}

.solution-header-wrapper.is-sticky .solution-header.navattic .solution-header__inner .solution-header__col-3 .button.primary:hover {
  background-image: var(--gradient-to-right); 
}

.solution-header-wrapper.is-sticky .solution-header ul li a {
  color: var(--neutral-white);
  padding: var(--spacer-element-05) 0;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  /* Block - Solution Header */
  .solution-header ul {
    justify-content: center;
  }

  .solution-header-wrapper .solution-header .gradient-left {
    display: none;
  }

  .solution-header-wrapper.is-sticky .solution-header .gradient-left {
    display: none;
  }

  .solution-header-wrapper .solution-header .gradient-right {
    display: none;
  }

  .solution-header-wrapper.is-sticky .solution-header .gradient-right {
    display: none;
  }

  .solution-header ul li:first-child {
    padding-left: unset;
  }

  .solution-header-wrapper.is-sticky .solution-header .icon {
    width: 68px;
  }

  .solution-header-wrapper.is-sticky .solution-header .icon svg {
    width: 106px;
  }

  .solution-header-wrapper.is-sticky .solution-header.navattic .icon svg {
    width: auto;
  }

  .solution-header .solution-header__inner .solution-header__col-1 {
    margin: var(--spacer-element-07) var(--spacer-element-08);
  }

  .solution-header.navattic .solution-header__inner {
    margin: 0 var(--spacer-element-08);
  }

  .solution-header .solution-header__inner .solution-header__col-3 {
    display: block;
    max-width: 225px;
    position: absolute;
    top: calc(var(--spacer-element-02) * -1);
    right: var(--spacer-layout-036);
  }
  
  .solution-header-wrapper.is-sticky .solution-header .solution-header__inner .solution-header__col-3 {
    display: none;
  }

  .solution-header.navattic .solution-header__inner[aria-expanded='true'] .solution-header__col-3,
  .solution-header.navattic .solution-header__inner[aria-expanded='false'] .solution-header__col-3,
  .solution-header-wrapper.is-sticky .solution-header.navattic .solution-header__inner[aria-expanded='true'] .solution-header__col-3,
  .solution-header-wrapper.is-sticky .solution-header.navattic .solution-header__inner[aria-expanded='false'] .solution-header__col-3 {
    display: flex;
    flex-direction: row;
    gap: var(--gap-16);
    position: unset;
    background: unset;
    width: unset;
    align-items: unset;
    border-top: unset;
    padding: unset;
    max-width: unset;
  }

  .solution-header.navattic .solution-header__inner .nav-hamburger, .solution-header-wrapper.is-sticky .solution-header.navattic .solution-header__inner .nav-hamburger {
    display: none;
  }

  /* Sticky - Solution Header */
  .solution-header-wrapper.is-sticky .solution-header .solution-header__inner .solution-header__col-1 {
    margin: var(--spacer-element-05) var(--spacer-element-08);
  }
}

/* Desktop */
@media (min-width: 1200px) {  
  /* Block - Solution Header */
  .solution-header {
    margin: 0 auto;
    width: 100%;
  }

  .solution-header .solution-header__inner {
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: space-between;
    flex-shrink: 0;
    gap: var(--spacer-layout-04);
    padding-top: 0;
    padding-bottom: var(--spacer-element-08);
  }

  .solution-header ul {
    justify-content: flex-start;
  }

  .solution-header ul li {
    padding-left: var(--spacer-element-08);
  }

  .solution-header ul li:first-child {
    padding-left: 0;
  }
  
  .solution-header ul li:last-child {
    padding-right: 0;
  }

  .solution-header .icon svg {
    height: var(--spacer-layout-04);
  }

  .solution-header.navattic .solution-header__inner {
    margin: unset;
  }

  .solution-header .solution-header__inner .solution-header__col-1 {
    margin: 0;
  }

  .solution-header .solution-header__inner .solution-header__col-2 {
    overflow-x: auto;
    max-width: 650px;
    height: 100%;
    margin: 0 0 calc(var(--spacer-element-08) * -1) 0;
    border-top: 0;
  }

  .solution-header .solution-header__inner .solution-header__col-3 {
    position: relative;
    top: inherit;
    right: inherit;
  }

  .solution-header ul li a {
    padding: var(--spacer-layout-036) 0;
  }

  /* Sticky - Solution Header */
  body.microsites.header-visible main {
    padding-top: var(--nav-height-desktop);
  }
  
  .solution-header-wrapper {
    border-bottom: 1px solid var(--neutral-sand);
    height: var(--nav-height-desktop);
  }

  .solution-header-wrapper.is-sticky {
    height: var(--sticky-nav-height);
  }

  .solution-header-wrapper.is-sticky .solution-header__inner {
    padding-bottom: var(--spacer-element-05);
  }

  .solution-header-wrapper.is-sticky .solution-header ul li a {
    padding: var(--spacer-element-07) 0;
  }

  .solution-header-wrapper.is-sticky .solution-header .solution-header__inner .solution-header__col-1 {
    margin: 0;
  }

  .solution-header-wrapper.is-sticky .solution-header .solution-header__inner .solution-header__col-2 {
    border-color: transparent;
    margin: 0 0 calc(var(--spacer-element-05) * -1) 0;
  }

  .solution-header-wrapper.is-sticky .solution-header .solution-header__inner .solution-header__col-3 {
    display: block;
  }

  .solution-header-wrapper.is-sticky .solution-header .icon {
    display: block;
    width: var(--spacer-element-09);
    height: var(--spacer-element-09);
    clip-path: circle(50% at 50% 50%);
    border: unset;
  }
  
  .solution-header-wrapper.is-sticky .solution-header .icon svg {
    height: var(--spacer-element-09);
    width: unset;
  }

  .solution-header-wrapper .solution-header.navattic .icon svg, .solution-header-wrapper.is-sticky .solution-header.navattic .icon svg {
    height: var(--spacer-layout-04);
  }
}